#mycolors {
  color: #f0d8a6;
  color: #CA7E04;
  color: #809E9E;
  color: #628080;
  color: #182e2e;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: beige;
  }
  h1,
  h2,
  h3 {
    font-family: 'Lobster', cursive;
  }
  h2 {
    color: #628080;
  }
  header h2 {
    color: #f0d8a6;
  }
  .site-footer {
    background-color: #809e9e;
    padding: 20px 0;
  }
  .jumbotron {
    padding: 30px;
    background-color: #628080;
    color: white;
    margin: 0;
  }
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
  }

  .navbar {
    background-color: #CA7E04;
}

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: 5px solid #628080;
}

